if SHIELD_CORNE_CIRQUE_LEFT || SHIELD_CORNE_CIRQUE_LEFT_WITH_DEVICE

config ZMK_KEYBOARD_NAME
    default "Corne Cirque-us"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CORNE_CIRQUE_LEFT || SHIELD_CORNE_CIRQUE_LEFT_WITH_DEVICE

if SHIELD_CORNE_CIRQUE_LEFT || SHIELD_CORNE_CIRQUE_RIGHT || SHIELD_CORNE_CIRQUE_LEFT_WITH_DEVICE || SHIELD_CORNE_CIRQUE_RIGHT_WITH_DEVICE

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif # SHIELD_CORNE_CIRQUE_LEFT || SHIELD_CORNE_CIRQUE_RIGHT || SHIELD_CORNE_CIRQUE_LEFT_WITH_DEVICE || SHIELD_CORNE_CIRQUE_RIGHT_WITH_DEVICE

if SHIELD_CORNE_CIRQUE_LEFT_WITH_DEVICE || SHIELD_CORNE_CIRQUE_RIGHT_WITH_DEVICE

config I2C
    default y

endif # SHIELD_CORNE_CIRQUE_LEFT_WITH_DEVICE || SHIELD_CORNE_CIRQUE_RIGHT_WITH_DEVICE
